# Module_07_程式的流程控制-條件判斷 if...else

# 7-3

In [3]:
x=3; y=7; print('Result:',x+y)
type(x+y)

Result: 10

int

# 7-4

In [4]:
total = 11+ \
12 + \
13 + \
14
total

50

In [9]:
days =['Sun', 'Mon', 'Tue',
       'Wed', 'Thu', 'Fri', 'Sat']
days
# try {}, ()

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [10]:
days ={'Sun', 'Mon', 'Tue','Wed', 'Thu', 'Fri', 'Sat'}
days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

In [11]:
days =('Sun', 'Mon', 'Tue','Wed', 'Thu', 'Fri', 'Sat')
days

('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat')

# 7-5 comments

In [12]:
# #真正的備註
# this is python
# hello python
# no any evaluate

In [13]:
# document String
'''
this is python
hello python
'''
# still evaluate.  It is not a comment.   slow down your program

'\nthis is python\nhello python\n'

# 7-7

In [14]:
if True:
    print('True')
else:
    print('False')

True

In [15]:
x = 4
if x == 3:
    print ('x = 3')
else :
    print ('x != 3')

x != 3

In [17]:
# 以下區塊會產生錯誤
if True:
    print('Answer')
    print('True')
else:
    print('Answer')
   print('False')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [18]:
if True:
    print('Answer')
    print('True')
else:
    print('Answer')
print('False')

Answer
True
False

# 7-9

In [19]:
# %run mod07/ifstmt2.py
# if-else stmt
s = int(input('Input score: '))

if s >= 60:
    print("Pass!")
else:
    print("Not pass!")

Input score:  90

Pass!

In [24]:
a = 1
if a==1:
    print('a is 1')
print('a is a number')  # 這個 print在 if 之外

a is 1
a is a number

# 7-10

In [22]:
lst = [11, 22]
lst.clear()
print('lst\t\t\t= ', lst)  # empty list
print('False == bool(lst))\t:', False == bool(lst))
print('False == bool(None)\t:', False == bool(None))
print('False == 0\t\t:', False == 0)

lst			=  []
False == bool(lst))	: True
False == bool(None)	: True
False == 0		: True

In [23]:
print('False == 0.0\t\t:', False == 0.0)
print('False == bool(())\t:', False == bool(()))  # empty tuple
print('False == bool({})\t:', False == bool({}))  # empty dictionary

False == 0.0		: True
False == bool(())	: True
False == bool({})	: True

In [25]:
a = ()  # same if a :

if ():  # try [], (), {}, None, False, ''
    print ('True')
else :
    print('None, Flase')

None, Flase

# 7-11

In [26]:
var1 = 100 
if var1: 
    print('True expr 1 : ', var1) 
print('var1 Finished!')
# -------------------------------    
var2 = 0 
if var2: 
    print('True expr 2 : ', var2) 
    
print('var2 Finished!')

True expr 1 :  100
var1 Finished!
var2 Finished!

# 7-12 if...else ...

In [27]:
amt = 2000
if amt < 1000:
    discount = amt * 0.05
    print('Discount', discount)
else:
    discount = amt * 0.10
    print('Discount', discount)

Discount 200.0

# 7-14 if ... elif...else

In [28]:
amt = int(input('Enter amount: '))

if amt < 1000:
    discount = amt * 0.05
    print('Discount:', discount)
elif amt < 5000:
    discount = amt * 0.10
    print('Discount:', discount)
elif amt < 10000:
    discount = amt * 0.15
    print('Discount:', discount)
else:
    discount = amt * 0.20
    print('Discount:', discount)

print('Net price:', amt - discount)

Enter amount:  6000

Discount: 900.0
Net price: 5100.0

# 7-16 nested if...else...

In [ ]:
num = int(input('enter number'))
if num%2 == 0:        # 整除 2
    if num%3 == 0:    # 整除 3
        print('Divisible by 3 and 2')
    else:             # 不整除 3
        print('Divisible by 2, not divisible by 3')
else:                 # 不整除 2
    if num%3 == 0:
        print('Divisible by 3, not divisible by 2')
    else:
        print('Not Divisible by 2, not divisible by 3')

# 7-17 Single Statement Suites

In [29]:
var = 30
# Only one statement
if var==50: print('Value is 50')
if var==40: print('Value is 40')
print('Finished!')

Finished!

In [30]:
a=9
if a%2:     # 9%2 = 1, True
    print('Apple') 
else: 
    print('False')

# practice print.....if   else pr....

Apple

# 7-19 三元運算子(ternary operator)

In [31]:
x = 8
if x == 8:
    y = 7
else:
    y = 9
y

7

In [32]:
x = 8
y = 7 if x == 8 else 9
y

7

In [33]:
7 if 0 else 'Python'  # x if C else y

'Python'

In [34]:
a = 2
#if a%3==0: Result = True
#else: Result = False
Result = 3 if a%3==0 else "Hello"
Result

'Hello'

In [35]:
%%timeit
x = 5
if x%2 == 0:
    y = 1
else:
    y = 50

52.1 ns ± 3.81 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [36]:
%%timeit
x = 5
if not x%2:
    y = 1
else:
    y = 50

52.7 ns ± 10.7 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

---

# Module_08_程式的流程控制-迴圈 while ,  for... range

## 8-4

In [37]:
import time

count = 0
while count < 9:
    time.sleep(.4)
    print('count is:', count)
    count += 1
print('Finished!')

count is: 0
count is: 1
count is: 2
count is: 3
count is: 4
count is: 5
count is: 6
count is: 7
count is: 8
Finished!

In [40]:
# %run mod08/whilestmt1.py
# while stmt

m = int(input('Input factorial:')) # 階乘
r = n = 1

while n <= m:
    r *= n  # r = r * n
    n += 1
print(str(m) + '! =', r) 
print(f'{m}! = {r}\n')  # f-string

Input factorial: 5

5! = 120
5! = 120

In [41]:
# for loop
r = n = 1
for n in range(1, m+1):  # iteration #  迭代 : 重複的意思
    r*=n
print(str(m) + '! =', r)

5! = 120

In [42]:
# %run mod08/whilestmt2.py
# while with break stmt
i = 1
while True:
    print(i, end=', ')
    i += 1
    if i > 5:
        break            # stopper
print()
# -------------------------
i = 1
while i<=5 :            # stopper
    print(i, end=', ')
    i += 1

1, 2, 3, 4, 5,
1, 2, 3, 4, 5,

In [ ]:
# 比如說提款機

while True  :         # This constructs an infinite loop
    cash = int(input("輸入提款金額  :"))
    if 0<cash <=30000:
        break
    else:         # 在這裡可加可不加
        print('cont....')
        continue  # 在這裡可加可不加
    
print ("輸入密碼")

In [ ]:
while True:
    user = input('你猜猜，我是 python / java / C++ ?? ')
    if user == 'python':
        break
    print(user, '錯')
print('好棒棒，答對了！')

In [43]:
for i in range (1,10):
    if  i < 5 :
        print('if i < 5', i)
        continue
        print('after continue')  # 不執行
    print('i =', i)

if i < 5 1
if i < 5 2
if i < 5 3
if i < 5 4
i = 5
i = 6
i = 7
i = 8
i = 9

>><img src=".\img\break.jpg"  style='height:300px; width:550px'>
>><img src=".\img\continue.jpg"  style='height:300px; width:650px'>

In [59]:
# 年利率5%，則每個月的利率為5%/12=0.4167%
# 1萬元放在銀行，本金加利率總額為 10000*(1+0.05/12)=10041.67元
total=0
i=0
# while loop ...
while (total<1000000):
    total *= (1+0.05/12)
    total += 10000
    i += 1
print('After '+str('%.2f' %i)+' month, you get million!!!')

After 84.00 month, you get million!!!

In [60]:
import time
for var in [1, 2, 3, 4, 5]:
    time.sleep(.3)
    print(var)

1
2
3
4
5

# 8-7

In [ ]:
import time
for i in range(1,10):
    for j in range(1,10):
        time.sleep(0.1)
        x = i * j
        print(x, end=' ')
    print()

In [ ]:
import time
for i in range(1,10):
    for j in range(1,10):
        time.sleep(.1)
        print(f'{i:1d}*{j:1d} = {i*j:2d}', end='   ')
    print()

# 8-8 range(start, stop[,step])

In [61]:
# lazy evaluation
range(1,6)  # get ready, not execute
print('range(1,6)\t\t:', range(1,6))
print('list(range(1,8))\t:', list(range(1,8)))
print('list(range(1,8,2))\t:', list(range(1,8,2)))

range(1,6)		: range(1, 6)
list(range(1,8))	: [1, 2, 3, 4, 5, 6, 7]
list(range(1,8,2))	: [1, 3, 5, 7]

https://zh.wikipedia.org/zh-tw/%E6%83%B0%E6%80%A7%E6%B1%82%E5%80%BC

In [62]:
import time
for i in range(1, 2.5, 0.1):  # not for floating, numpy 可以
    time.sleep(.5)
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [63]:
list(range(1,6))  # execute

[1, 2, 3, 4, 5]

In [64]:
tuple(range(1,6))  # execute

(1, 2, 3, 4, 5)

In [65]:
set(range(1,6)) # execute

{1, 2, 3, 4, 5}

In [68]:
list(range(1, 15,2))  # how about range (a,d)

[1, 3, 5, 7, 9, 11, 13]

## p8-10, 11, 12, 14
## for ... else

In [69]:
numbers = [31, 57, 75, 85, 27, 93, 63, 19, 22, 44]
for num in numbers:
    if num%2 == 0:
        print('有 偶數存在', num)
        break
else:
    print('無 偶數存在')
print('Finish')

有 偶數存在 22
Finish

In [ ]:
x = ['even' if num%2==0 else 'odd' for num in numbers]
print(x)

y = ['even' for num in numbers if num%2==0]
print(y)

In [ ]:
import time
total = 0 

for i in range(1,6):
    total+=i
    print(f'i = {i}, total = {total}')
    time.sleep(.4)
total

---

# Module_09_串列(List)
# index
><img src=".\img\list.png"  style='height:250px; width:650px'>

In [71]:
list1=['a', 'b', 'c', 'd']
print(list1)

list2='a b c d'.split()
print(list2)

list('abcd')

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

['a', 'b', 'c', 'd']

# 9-4

In [72]:
names=['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
print('names\t\t\t\t=', names)
print('names[0]\t\t\t:', names[0])
print('names[0][0]\t\t\t:', names[0][0], '\n')

print('names[5]\t\t\t:', names[5])
print('names[-1]\t\t\t:', names[-1],'\n')

print('names[1:5]\t\t\t:', names[1:5])
print('names[1:6:2]\t\t\t:', (names[1:6:2]),'\n')

names[2]='Kevin'
print("names[2]='Kevin'\t\t:", names)             # 修改

names[-1:]=[2000, 23.5]                           # 一次改兩筆資料
print('names[-1:]=[2000, 23.5]\t\t:', names)

names				= ['fraser', 'grace', 'john', 'jess', 'jack', 23.5, 2019]
names[0]			: fraser
names[0][0]			: f

names[5]			: 23.5
names[-1]			: 2019

names[1:5]			: ['grace', 'john', 'jess', 'jack']
names[1:6:2]			: ['grace', 'jess', 23.5]

names[2]='Kevin'		: ['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2019]
names[-1:]=[2000, 23.5]		: ['fraser', 'grace', 'Kevin', 'jess', 'jack', 23.5, 2000, 23.5]

In [73]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)  # length
b

['He', 'saw', 'six', 'small', 'foxes']

# 9-6

In [74]:
lst = [33, 'python', [11, 12, 13], 77]
print(len(lst))
print(lst[0])
print(lst[2])
print(lst[2][2])

4
33
[11, 12, 13]
13

# list in list
>![listNested](.\img\listNested.png)

In [78]:
lst1 = [10, 20, 30]
lst2 = [10, 20, 30]
lst3 = [10, 30, 20]
lst1 == lst2

True

In [79]:
lst1 == lst3  #順序需一致

False

In [80]:
print(lst1 is lst2)   # 可能False,  True (機率很低很低) 數值雖然想同, 但記憶體位置可能不同
print(id(lst1), id(lst2))

False
2558725559048 2558725560008

In [82]:
lst1 is lst3

False

# 9-8

In [83]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [84]:
['Hi!'] * 4.

TypeError: can't multiply sequence by non-int of type 'float'

In [85]:
30 in [10, 20, 30]

True

In [86]:
import time

a = [10, 20, 30]
for x in a: 
    time.sleep(.4)
    print (x, end = ' ')

10 20 30

In [87]:
lst=[11, 22, 33, 44]
print('lst\t\t\t=', lst)
print('id(lst)\t\t\t:', id(lst), '\n')

lst[2] = 66
print('lst[2] = 66\t\t:', lst, '\n')

lst[2:]=['aaa','bbb']
print("lst[2:]=['aaa','bbb']\t:",lst,'\n')

lst[2:]=[333, 444, 555,  666]  #list 可增加直接擴大
print('lst[2:] =\t\t:', lst)
print('id(lst)\t\t\t:', id(lst), '\n')

lst			= [11, 22, 33, 44]
id(lst)			: 2558724860040

lst[2] = 66		: [11, 22, 66, 44]

lst[2:]=['aaa','bbb']	: [11, 22, 'aaa', 'bbb']

lst[2:] =		: [11, 22, 333, 444, 555, 666]
id(lst)			: 2558724860040

In [91]:
lst1= [33, 'python', [11,22,33], (44,55,66)]
print('lst1\t\t:', lst1)
print('lst1[3][0]\t:', lst1[3][0],'\n')
#lst1[3][0] = 88   #'tuple' object does not support item assignment, tuple is immutable

lst1		: [33, 'python', [11, 22, 33], (44, 55, 66)]
lst1[3][0]	: 44

# 9-11

In [92]:
x, y, z=20, 10, 30
lst=[x, y, z]

print('lst\t\t\t\t=', lst)
print('max(lst)\t\t\t:', max(lst))
print('min(lst)\t\t\t:', min(lst))
print('sum(lst)\t\t\t:', sum(lst))
print('sorted(lst)\t\t\t:', sorted(lst))
print('sorted(lst, reverse=True)\t:', sorted(lst, reverse=True))

lst				= [20, 10, 30]
max(lst)			: 30
min(lst)			: 10
sum(lst)			: 60
sorted(lst)			: [10, 20, 30]
sorted(lst, reverse=True)	: [30, 20, 10]

# 9-14, 15, 16

In [93]:
a = [4, 777, 444, 999, 11];   b = ['aa', 'bb', 'cc']

print(f'a = {a},\t b = {b} \n')

a.append('1')                              # 新增
print("a.append('1')\t\t:", a)
print('a+[1]\t\t\t:', a+[1], '\n')

a.extend(b)
print('a.extend(b)\t\t:', a)  # like a+b
print('a.count(4)\t\t:', a.count(4))        # count how many 4 in list
print('a.index(4)\t\t:', a.index(4), '\n')  # what is index of 4

a.insert(5, 555)
print('a.insert(5, 555)\t:', a)

a = [4, 777, 444, 999, 11],	 b = ['aa', 'bb', 'cc']

a.append('1')		: [4, 777, 444, 999, 11, '1']
a+[1]			: [4, 777, 444, 999, 11, '1', 1]

a.extend(b)		: [4, 777, 444, 999, 11, '1', 'aa', 'bb', 'cc']
a.count(4)		: 1
a.index(4)		: 0

a.insert(5, 555)	: [4, 777, 444, 999, 11, 555, '1', 'aa', 'bb', 'cc']

In [ ]:
a = [4, 777, 444, 999, 11, 45, 66, 88, 73]

print(f'a = {a}\n')
                                       
print('a.pop()\t\t:', a.pop())                   #彈出值, 並刪除                        
print('a.pop(4)\t:', a.pop(4))                   #用index, 傳回值, 並刪除
print('a.remove(a[2])\t:', a.remove(444))        #用item value 刪除, 回傳空值
print('a \t\t:', a, '\n')

a.reverse()
print('a.reverse()\t:',a)

b = a.copy()
print('b = a.copy()\t:', b)
print('a.clear()\t:', a.clear())

---

# Module_10_串列(List)與元組(Tuple)
>### tuple 佔記憶體小, 計算速度快
>![memoryIndex](.\img\memoryIndex03.png)

In [94]:
t1=(50) # not tuple becasue of no ','
t1
type(t1)

int

In [95]:
t2=(50,)
print(t2*4)
type(t2)

(50, 50, 50, 50)

tuple

In [96]:
tup2 = 50,    # tup2 = 50, 60, 70
type(tup2)

tuple

In [97]:
t3=tuple(range(0, 10, 2))
print(t3)

t3[1] = 5         # error,  immutable
t3.remove(['2'])  # error, not removable, pop

(0, 2, 4, 6, 8)

TypeError: 'tuple' object does not support item assignment

In [98]:
tup3=('aaa', 'bbb', 'kkk', 'jjj', 'cc1')

print('tup3\t\t\t=', tup3)
print('sorted(tup3)\t\t:', sorted(tup3))  #tuple sorted 傳回的是list[], 需要用參數去接, lst=sorted(t3), t3 is still tuple, no change
print('max(tup3)\t\t:', max(tup3))
print('min(tup3)\t\t:', min(tup3))
print("tup3.count('kkk')\t:", tup3.count('kkk'))
print('tup3+(111, 222)\t\t:', tup3+(111,222))

tup3			= ('aaa', 'bbb', 'kkk', 'jjj', 'cc1')
sorted(tup3)		: ['aaa', 'bbb', 'cc1', 'jjj', 'kkk']
max(tup3)		: kkk
min(tup3)		: aaa
tup3.count('kkk')	: 1
tup3+(111, 222)		: ('aaa', 'bbb', 'kkk', 'jjj', 'cc1', 111, 222)

In [99]:
tup = 4, 5, 6; tup1 = (4, 5, 6)
print(tup+tup1)
print(tup+tup1+(8,))

(4, 5, 6, 4, 5, 6)
(4, 5, 6, 4, 5, 6, 8)

In [100]:
tup = 4, 5, 6; nested_tup = (4, 5, 6), (7, 8)

print(type(tup))
print(nested_tup)
print(tup+nested_tup)

<class 'tuple'>
((4, 5, 6), (7, 8))
(4, 5, 6, (4, 5, 6), (7, 8))

In [101]:
tup1 = ('aiot', 'python', 23.5, 2019)
tup2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(tup1[0])
print(tup2[1:5])
print(tup2[1:10:2])

aiot
(2, 3, 4, 5)
(2, 4, 6, 8, 10)

In [102]:
tup = tuple([4, 0, 2])
print(tup, '\n')

tup = tuple('string')  # try list ('string')
print(tup)
print(tup[0])

(4, 0, 2)

('s', 't', 'r', 'i', 'n', 'g')
s

# 10-6 改動與否，視最後改動的對象為準

In [103]:
tup = tuple(['foo', [1, 2], True])

# tup[2] = False
tup[1].append(3)  # list in Tuple OK to change or append inside of list
print(tup)
print(len(tup))
tup[1][0]=20
tup

('foo', [1, 2, 3], True)
3

('foo', [20, 2, 3], True)

#### Unpacking tuples

In [105]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [106]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [107]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [111]:
values = 1, 2, 3, 4, 5
print(type(values))
a, b, *rest = values
a, b, rest
#rest   # list[3, 4, 5]

<class 'tuple'>

(1, 2, [3, 4, 5])

In [112]:
a, b, *_ = values
_

[3, 4, 5]

# 10-8

In [113]:
('Hi',)*4

('Hi', 'Hi', 'Hi', 'Hi')

In [114]:
30 in (10,20,30)

True

In [115]:
seq = (1, 2, 3, 4, 5, 6, 7, 8, 9) # iterable object
for i in seq:
    print(i, end=', ')

1, 2, 3, 4, 5, 6, 7, 8, 9,

# 10-10, 12

In [116]:
nested_tup = (4, 5, 6), (7, 8)  # nested tuple
print(len(nested_tup))

2

In [117]:
tup = (1, 2, 3, 4, 5, 6, 5, 4, 3, 2, 1)
print('len(tup)\t\t\t:', len(tup))
print('max(tup)\t\t\t:', max(tup))
print('min(tup)\t\t\t:', min(tup))
print('sum(tup)\t\t\t:', sum(tup))
print('sorted(tup)\t\t\t:', sorted(tup))
print('sorted(tup,reverse = True)\t:', sorted(tup,reverse = True))

len(tup)			: 11
max(tup)			: 6
min(tup)			: 1
sum(tup)			: 36
sorted(tup)			: [1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6]
sorted(tup,reverse = True)	: [6, 5, 5, 4, 4, 3, 3, 2, 2, 1, 1]

In [118]:
t1 = tuple(range(0,10,2)) # lazy evaluation
t2 = tuple([1,2,3,4])
t3 = tuple('abcde')

print(t1)
print(t2)
print(t3)

(0, 2, 4, 6, 8)
(1, 2, 3, 4)
('a', 'b', 'c', 'd', 'e')

In [119]:
a = (1, 2, 2, 2, 3, 4, 2)
print(a.count(2))
print(a.index(2))

4
1

# 10-14 list comprehensions

In [120]:
S = [x**2 for x in range(10)]
V = [2**x for x in range(13)]
M = [x for x in S if x % 2 == 0]
Q = [x**2/2 for x in range(10) ]

print('S = ', S)
print('V = ', V)
print('M = ', M)
print('Q = ', Q)

S =  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
V =  [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
M =  [0, 4, 16, 36, 64]
Q =  [0.0, 0.5, 2.0, 4.5, 8.0, 12.5, 18.0, 24.5, 32.0, 40.5]

In [121]:
# 九九乘法表 comprehensive 寫法
[[i*j for j in range(1,10)] for i in range(1,10)]

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [122]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
for n in range(11):
    V +=[2**n]
V

3.56 µs ± 229 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [123]:
%%timeit
# V = (1,2,4,8,...2**10)
V=[]
V = [2**n for n in range(11)]
V

3.02 µs ± 46 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

# 範例

In [124]:
# 質數
lst=[]
for i in range(2,1000):
    for j in range (2,i):
        if i%j==0:
            break
    else:
        lst=lst+[i]
print(lst)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [128]:
# for loop start
#公元年分除以4可整除但公元年分除以100不可整除」或「公元年分除以400可整除」

lst_year=[]
for i in range(1900, 2020):
    if((i%4==0 and  i%100!=0) or (i%400==0)):
        print(id(lst_year))        
        lst_year += [i]
print('\n', lst_year, '\n')      

# -------------------------------------------------------

lst_year1 = [i for i in range(1900,2020) if((i%4==0 and i%100!=0) or (i%400==0))]
print(lst_year1)

2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848
2558725419848

 [1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

[1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [ ]:
# for loop start
#公元年分除以4可整除但公元年分除以100不可整除」#或「公元年分除以400可整除」

lst_year=()
for i in range(1900, 2020):
    if((i%4==0 and i%100!=0) or (i%400==0)):
        print(id(lst_year), type(lst_year), lst_year)
        lst_year +=(i,)
print('\n', lst_year, '\n')

## tuple 放棄了對元素的增刪（記憶體結構設計上變的更精簡），換取的是效能上的提升：建立 tuple 比 list 要快，儲存空間比 list 佔用更小。所以就出現了“能用 tuple 的地方就不用 list”的說法。

---

# Module_11_字典(Dict)
>## 讓一串資料更有可讀性
>## no sequence, no slice, no index
>## but, iterable (可迭代)

In [129]:
# 如英漢字典
d1={'Apple':'蘋果', 'Banana':'香蕉'}
print(d1['Apple'])
print(d1['Banana'])

蘋果
香蕉

In [130]:
lst = [2.59, 3.19, 4.8]  # not so meaningful
print(lst[0])
print(lst[1], '\n')

d1={'Eggs':2.59, 'Milk':3.19, 'Cheese':4.8}  # egg, milk... 是不是更具可讀性?
print(d1['Eggs'])
print(d1['Milk'])

2.59
3.19

2.59
3.19

><img src=".\img\list-dict.png"  style='height:400px; width:900px'>

# 11-3

In [131]:
# dict. no sequence, no slice, no index
d1={'name':'John', 'age':30}
d2={'age':30, 'name':'John'}

print(d1==d2)   # check values, no sequence
print(d1 is d2) # memory address diff
print(id(d1))
print(id(d2))
d2['class']  # error 'class' 不存在

True
False
2558726230728
2558726183176

KeyError: 'class'

# 11-4, 5

In [132]:
dict1 = dict(one=1, two=2, three=3)
print('dict1\t\t\t:', dict1, '\n')    # 建立

dict1['four']=7                       # 'four'不存在, 就新增
print("dict1['four'] = 7\t:", dict1)    # 新增 

dict1['two'] = 7
print("dict1['two'] = 7\t:", dict1)    # 修改

del dict1['two']                       # 刪除
print("del dict1['two']\t:", dict1)

print("dict1['one']\t\t:", dict1['one'])  # 尋找

dict1			: {'one': 1, 'two': 2, 'three': 3}

dict1['four'] = 7	: {'one': 1, 'two': 2, 'three': 3, 'four': 7}
dict1['two'] = 7	: {'one': 1, 'two': 7, 'three': 3, 'four': 7}
del dict1['two']	: {'one': 1, 'three': 3, 'four': 7}
dict1['one']		: 1

In [133]:
dict1 = {'one': 1, 'two': 2, 'three': 3, 'four':7}
key = 'four'
if(key in dict1):
    print(f'dict1[{key}] : {dict1[key]}')
else:
    print('No', key)

dict1[four] : 7

# iterable

In [ ]:
Families = {'大明':'小明', '大華':'小華', '大雄':'小雄'}
for Parent, Son in Families.items():
    print(f"{Parent} is {Son}'s Dad")

# 11-6

In [134]:
dict1 = {'id':'A001', 'eng':[67,53,79]}

print('dict1\t\t\t:', dict1)
print("dict1['eng']\t\t:", dict1['eng'])
print("dict1['eng'][0]\t\t:", dict1['eng'][0], '\n')

dict1['math'] = [64,85,75]
print("dict['math']=[64,85,75]\t:", dict1)
print("dict1['math'][1]\t:", dict1['math'][1])

dict1['math'][1] = 88
print("dict1['math'][1] = 88\t:", dict1)

dict1			: {'id': 'A001', 'eng': [67, 53, 79]}
dict1['eng']		: [67, 53, 79]
dict1['eng'][0]		: 67

dict['math']=[64,85,75]	: {'id': 'A001', 'eng': [67, 53, 79], 'math': [64, 85, 75]}
dict1['math'][1]	: 85
dict1['math'][1] = 88	: {'id': 'A001', 'eng': [67, 53, 79], 'math': [64, 88, 75]}

# 11-7

In [135]:
dict1 = {'Name': 'III', 'Year': 1979, 'Class': 'A'}

del dict1['Class']
print("del dict1['Class']\t:", dict1)

dict1.clear()                       # empty dict1
print('dict1.clear()\t\t:', dict1)

del dict1                          # del dict1.  dict1 is gone
print('del clear()\t\t:', dict1)   # error since no dict1 any more

del dict1['Class']	: {'Name': 'III', 'Year': 1979}
dict1.clear()		: {}

NameError: name 'dict1' is not defined

# 11-10, 11, 12

In [136]:
a= {'num':85, 'num1': 60, 'age': 44}  # dict

print('a\t\t\t=', a)
print('len(a)\t\t\t:', len(a))
print('max(a)\t\t\t:', max(a))                 # key ASCII code max, not so meaningful
print('min(a)\t\t\t:', min(a))
print('sorted(a)\t\t:', sorted(a), '\n')

print("a.get('num')\t\t:", a.get('num'))
print("a['num']\t\t:", a['num'])
print("a.get('num', 'No item')\t:", a.get('num', 'No item'))  # get 'num' 如果 'num'不存在就show 'No item'
print("a.get('name', 'No item'):", a.get('name', 'No item')) # 'name'不存在, show 'No item'
print('a.setdefault(num2, 10101):', a.setdefault('num2', 10101)) # num2 不存在, 自動加入 'num2': 10101
a

a			= {'num': 85, 'num1': 60, 'age': 44}
len(a)			: 3
max(a)			: num1
min(a)			: age
sorted(a)		: ['age', 'num', 'num1']

a.get('num')		: 85
a['num']		: 85
a.get('num', 'No item')	: 85
a.get('name', 'No item'): No item
a.setdefault(num2, 10101): 10101

{'num': 85, 'num1': 60, 'age': 44, 'num2': 10101}

In [137]:
dict([('two', 2), ('one', 1), ('three', 3)]) # list of tuple

{'two': 2, 'one': 1, 'three': 3}

In [138]:
dict((('two', 2), ('one', 1), ('three', 3))) # tuple of tuple

{'two': 2, 'one': 1, 'three': 3}

# 11-13

In [139]:
dict1 = {'Stars':'John Doe','Starwars':'Jedi'}

print(dict1.items())
print(list(dict1.items()), '\n')

print(dict1.keys())
print(list(dict1.keys()), '\n')

print(dict1.values())
print(list(dict1.values()))

dict_items([('Stars', 'John Doe'), ('Starwars', 'Jedi')])
[('Stars', 'John Doe'), ('Starwars', 'Jedi')]

dict_keys(['Stars', 'Starwars'])
['Stars', 'Starwars']

dict_values(['John Doe', 'Jedi'])
['John Doe', 'Jedi']

# 11-14

In [140]:
dict1 = {'Stars':'John Doe', 'Starwars':'Jedi'}
a={'name':'77', 'num':'85'}

dict1.update(a)
print('update(a)\t:', dict1)

dict1.pop('name')
print('pop("name")\t:', dict1)

dict1.popitem()  # 保證以LIFO 順序傳回 Last In First Out, 'num':85
print('popitem()\t:', dict1)

update(a)	: {'Stars': 'John Doe', 'Starwars': 'Jedi', 'name': '77', 'num': '85'}
pop("name")	: {'Stars': 'John Doe', 'Starwars': 'Jedi', 'num': '85'}
popitem()	: {'Stars': 'John Doe', 'Starwars': 'Jedi'}

In [141]:
d1 ={'a': 'apple', 'b':'banana'}
print('d1\t\t=', d1, '\n')

d2 = d1.copy()                           # copy has diff memory address
print('d2 (d1.copy())  :', d2)
print('dict1 is d2\t:', dict1 is d2, '\n')

d3 = d1                                  # point to same address
print('d3 (d3=d1)\t:', d3)
print('d3 is d1\t:', d3 is d1)

d1		= {'a': 'apple', 'b': 'banana'}

d2 (d1.copy())  : {'a': 'apple', 'b': 'banana'}
dict1 is d2	: False

d3 (d3=d1)	: {'a': 'apple', 'b': 'banana'}
d3 is d1	: True

In [142]:
d3['a'] = 'amazon'                     # change d3.  d1 changed too

print('d1 = ', d1)
print('d2 = ', d2)
print('d3 = ', d3)

d1 =  {'a': 'amazon', 'b': 'banana'}
d2 =  {'a': 'apple', 'b': 'banana'}
d3 =  {'a': 'amazon', 'b': 'banana'}

In [143]:
# tup1 = (a, 1, b, 2, c, 3)
# lst1 = [a, 1, b, 2, c, 3]
dic1 = {'AAAA':0 , 'BBBB':4, 'CCCC':7}

print('******** for key in dic1 *******')
for key in dic1:
    print(key)
    
print('\n******** for key in dic1.keys() *******')    
for key in dic1.keys():
    print (key)
    
print('\n******** for key in dic1.items() *******')    
for key in dic1.items():
    print (key)
    
print('\n******** for k, v in dic1 *******')    
for k, v in dic1.items():
    print (k, v)

******** for key in dic1 *******
AAAA
BBBB
CCCC

******** for key in dic1.keys() *******
AAAA
BBBB
CCCC

******** for key in dic1.items() *******
('AAAA', 0)
('BBBB', 4)
('CCCC', 7)

******** for k, v in dic1 *******
AAAA 0
BBBB 4
CCCC 7

In [144]:
word = 'letters'
char_counts = {char: word.count(char) for char in set(word)}
char_counts

{'l': 1, 's': 1, 'r': 1, 'e': 2, 't': 2}

---

# Module_12_集合(Set)
>## 集合(Set)像移除值(Value)的字典, 留下獨一無二的Key

In [146]:
a = set()  # 空集合

In [145]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket
#basket[1]    # error no ordered, 唯一

{'apple', 'banana', 'orange', 'pear'}

In [147]:
'orange' in basket

True

In [148]:
'grape' in basket

False

In [149]:
#len(set("apple"))
#print(set('apple'))
len(set("apple"))

4

In [150]:
s1={'66316666'};
s2=set('66316666')
print(s1, len(s1))
print(s2, len(s2))
print(type(s1))
print(type(s2))

{'66316666'} 1
{'3', '6', '1'} 3
<class 'set'>
<class 'set'>

# 12-5

In [151]:
'this letters is beautiful'.count('e')

3

In [152]:
char_counts = {}
word = 'this letters is beautiful'
print(set(word),'\n')  # 取出唯一

for char in set(word):
    char_counts[char] = word.count(char)  # 因為唯一而會向後加(append)
    
char_counts

{'l', 'b', 'u', 'a', 'f', 'e', 'r', 's', 'i', 'h', ' ', 't'}

{'l': 2,
 'b': 1,
 'u': 2,
 'a': 1,
 'f': 1,
 'e': 3,
 'r': 1,
 's': 3,
 'i': 3,
 'h': 1,
 ' ': 3,
 't': 4}

In [153]:
word='letters is beautiful'
print(set(word))  # 唯一

char_counts = {x:word.count(x) for x in set(word)}
char_counts

{'l', 'b', 'u', 'a', 'i', 'f', 's', 'r', 'e', ' ', 't'}

{'l': 2,
 'b': 1,
 'u': 2,
 'a': 1,
 'i': 2,
 'f': 1,
 's': 2,
 'r': 1,
 'e': 3,
 ' ': 2,
 't': 3}

# no sequence, iterable

In [154]:
for x in {6,5,2,3,7,3} :   
    print (x, end = ' ')

2 3 5 6 7

><img src=".\img\set.png"  style='height:450px; width:750px'>

In [155]:
a = {1, 2, 3};  b = {1, 2, 3, 4}
print(f'a = {a},\t\tb = {b}\n')
print('a | b\t\t\t= ', a | b)                          # 聯集
print('a union b\t\t= ', a.union(b), '\n')             # 聯集

print('a & b\t\t\t= ', a & b)                           # 交集
print('a intersection b\t= ', a.intersection(b), '\n')  # 交集

print('a - b\t\t\t= ', a - b)                           # diff
print('a difference b\t\t= ', a.difference(b), '\n')    # 交集

print('b - a\t\t\t= ', b - a)                           # diff
print('b differnece a\t\t= ', b.difference(a), '\n')    # 交集

print('a ^ b\t\t\t= ', a ^ b)                           # symmetric diff
print('a symmatric_differnece b= ', a.symmetric_difference(b), '\n')  # 交集

print('a <= b\t\t\t= ', a <= b)                         # sub
print('a issubset b\t\t= ', a.issubset(b), '\n')        # sub

print('a >= b\t\t\t= ', a >= b)                         # sub
print('a issuperset b\t\t= ', a.issuperset(b))          # sub

print('a.isdisjoint(b)\t\t= ', a.isdisjoint(b))          # 沒交集
print('b.isdisjoint(a)\t\t= ', b.isdisjoint(a), '\n')

a = {1, 2, 3},		b = {1, 2, 3, 4}

a | b			=  {1, 2, 3, 4}
a union b		=  {1, 2, 3, 4}

a & b			=  {1, 2, 3}
a intersection b	=  {1, 2, 3}

a - b			=  set()
a difference b		=  set()

b - a			=  {4}
b differnece a		=  {4}

a ^ b			=  {4}
a symmatric_differnece b=  {4}

a <= b			=  True
a issubset b		=  True

a >= b			=  False
a issuperset b		=  False
a.isdisjoint(b)		=  False
b.isdisjoint(a)		=  False

In [156]:
a = {1,2,3}; b = {3,4,5};
a.update(b);
a

{1, 2, 3, 4, 5}

In [157]:
a = {1,2,3}; b = {3,4,5};
a.intersection_update(b);
a                         #傳回與 b集合的交集

{3}

In [158]:
a = {1,2,3}; b = {3,4,5};
a.add(1)  # how about add(4)
a

{1, 2, 3}

In [159]:
a = {1,2,3}; b = {3,4,5};
a.remove(1);
a

{2, 3}

In [160]:
a = {1,2,3}; b = {3,4,5};
a.remove(4);
a

KeyError: 4

In [162]:
a = {1,2,3}; b = {3,4,5};
a.discard(4);
a  # 如果 elem 存在於 s ，則將其移除。此方法不會觸發 KeyError 的例外

{1, 2, 3}

In [169]:
a = {-1, 0, 1, 2, 3}; b = {3,4,5};
a.pop();    # 小心 沒有順序
a

{-1, 1, 2, 3}

><img src=".\img\list-tuple-dict-set.png"  style='height:300px; width:850px'>

# 12-16

In [170]:
s = {num for num in range(1, 25) if num % 3 == 1}
s

{1, 4, 7, 10, 13, 16, 19, 22}